
#go-pif {
    background: white;

    width: 205px;

    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    color:#ffc0cb ;
    transition: 0.3s ease-out;
    font-family: 'Montserrat Alternates', sans-serif;
}
#go-pif:hover{
    background: #ffc0cc ;
    color:white;
    
}
